header {
    background-color:lightgreen;
    padding: 5px;
    width:100%; 
    display: flex;
    justify-content: right;
    background-image: url(https://img.freepik.com/premium-vector/pattern-poker-casino-outline-poker-card-suits-black-background_47243-1334.jpg);
}
.body {
  height: 1500px;
}
footer {
  position: absolute;
  bottom: 0;
}
footer.in {
  position: absolute;
  bottom: -200px;
}
.nav-link {
    background-color:crimson;
    margin: 3px;
}
.nav-link:link, .nav-link:visited {
    color: black;
}
html { 
    font-family: Arial, Helvetica, Verdana, sans-serif 
}
article {
    border: 3px solid black;
    padding: 2%;
    margin: 3%;
}
.ukl {
        border: 2px solid black;
        padding: 1%;
        margin: 1.5%;
}
ul {
    display: none;
}
.aside {
    float: right; 
    width: 15%; 
    height: 1200px;
    margin-right: 70px;
    display: initial !important; 
}
.main {
    width: 80%;
}

table, th, td {
  border: 1px solid;
}
table.sus {
  margin-left: auto;
  margin-right: auto;
}

 /* div.col > article.sus {
  width: fit-content;
} */

/* Animacja */
[aria-current="page"] {
    animation: szejker 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes szejker {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-9deg);
    }
    20% {
      transform: rotateZ(6deg);
    }
    25% {
      transform: rotateZ(-6deg);
    }
    30% {
      transform: rotateZ(4deg);
    }
    35% {
      transform: rotateZ(-2deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
